div(class="bg-white rounded")
  div(class="relative flex flex-col h-auto p-3 lg:p-6")
    div(class="relative")
      a(href="#") 
        img(class="object-cover object-center w-full h-full lg:max-h-[280px] max-h-[273px]" src=`./images/category/recommended1.png` alt="")
        // 第 1 種狀態
        div(class="absolute left-3 bottom-[44px] bg-gray-800 w-14 h-14 rounded-sm flex items-center justify-center")
          p(class="flex flex-col text-sm text-white left-[30px]") 
            span 東港
            span 名產

        // 第 2 種狀態
        //- div(class="absolute bottom-0 flex justify-center w-full h-8 px-1 bg-origin-500")
        //-   p(class="flex items-center font-bold text-white")
        //-     span(class="xl:text-sm text-11") 12.12 限定 熱銷商品破盤價 下殺 
        //-     span(class="xl:text-10 text-[9px]") $
        //-     span(class="text-xs xl:text-base") 299

        // 第 3 種狀態
        //- div(class="absolute -translate-x-1/2 -translate-y-1/2 bg-white left-1/2 top-1/2 bg-opacity-60")
        //-   p(class="text-black text-base px-2 py-[6px] whitespace-nowrap") 售完補貨中

    div(class="flex flex-col h-full mt-2 lg:mt-4")
      p(class="text-xs text-slate-400") 胡同嚴選
      a(class="mt-[5px] mb-[9px] lg:mb-[14px] text-sm text-black lg:mt-[18px] lg:text-base" href="#") 胡同 元氣爆米花-原味 (短效期, 2024.03) / 200g/桶
      div(class="flex flex-col-reverse mt-auto lg:flex-col")
        div(class="flex lg:justify-normal justify-between space-y-2 xl:space-x-6 lg:space-x-4 lg:space-y-0 flex-row mt-[10px] lg:mt-0")
          p(class="flex flex-col font-semibold text-red-500 lg:space-x-2 lg:block")
            span(class="lg:text-xs text-10") 優惠價
            span(class="text-sm lg:text-base") NT$ 99
          p(class="font-semibold text-gray-700 line-through")
            span(class="text-sm lg:text-base") NT$ 129
        // 4 種狀態
        div(class="flex flex-wrap items-center lg:mt-2")
          p(class="px-2 py-1 mb-1 mr-3 text-white bg-red-400 rounded-sm text-10") 限量新品
          p(class="px-2 py-1 mb-1 mr-3 text-white bg-green-400 rounded-sm text-10") 常溫
          p(class="px-2 py-1 mb-1 mr-3 text-white bg-blue-400 rounded-sm text-10") 冷藏
          p(class="px-2 py-1 mb-1 mr-3 text-white bg-purple-400 rounded-sm text-10") 冷凍

  div(class="flex items-center justify-between border-t divide-x border-neutral-200 divide-neutral-200")
    // 商店按鈕
    button(class="flex items-center justify-center flex-1 p-3 duration-150 lg:p-4 hover:text-origin-750" type="button")
      svg(class="fill-current lg:w-6 lg:h-6 w-[18px] h-[18px]" viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M12.0632 4.5C10.8205 4.5 9.81324 5.505 9.81324 6.75H14.3132C14.3132 5.505 13.306 4.5 12.0632 4.5ZM14.3132 8.25V9C14.3132 9.4125 14.6492 9.75 15.0632 9.75C15.4772 9.75 15.8132 9.4125 15.8132 9V8.25H16.7297C17.11 8.25 17.4295 8.535 17.4745 8.91L18.6212 18.66C18.6737 19.11 18.3257 19.5 17.8765 19.5H6.24999C5.80074 19.5 5.45274 19.11 5.50524 18.66L6.65199 8.91C6.69699 8.535 7.01649 8.25 7.39674 8.25H8.31324V9C8.31324 9.4125 8.64924 9.75 9.06324 9.75C9.47724 9.75 9.81324 9.4125 9.81324 9V8.25H14.3132ZM8.31324 6.75H7.39674C6.25599 6.75 5.29599 7.605 5.16249 8.7375L4.01574 18.4875C3.85824 19.8225 4.90299 21 6.24999 21H17.8765C19.2235 21 20.2682 19.8225 20.1107 18.4875L18.964 8.7375C18.8305 7.605 17.8705 6.75 16.7297 6.75H15.8132C15.8132 4.68 14.134 3 12.0632 3C9.99174 3 8.31324 4.68 8.31324 6.75Z')
    // 購物車按鈕
    button(class="flex items-center justify-center flex-1 p-3 duration-150 lg:p-4 hover:text-origin-750" type="button")
      svg(class="fill-current lg:w-6 lg:h-6 w-[18px] h-[18px]" viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M5.68638 4.14285L5.35476 2.78357C5.09658 1.73512 4.17153 0.999938 3.11054 1H2V2.57142H3.11054C3.47355 2.56065 3.79474 2.80935 3.88175 3.16856L6.62725 14.5457L6.9126 15.7164C7.17282 16.7734 8.11035 17.5109 9.17995 17.4999H19.7378V15.9285H9.17995C8.81694 15.9393 8.49574 15.6906 8.40874 15.3314L8.3162 14.9385L19.7378 12.1964C20.5822 11.9964 21.246 11.3322 21.4576 10.4757L23 4.14285H5.68638ZM19.9923 10.0985C19.9209 10.3855 19.6973 10.6072 19.4139 10.6721L7.96144 13.4142L6.07198 5.71427H21.0643L19.9923 10.0985ZM5.85604 20.6428C5.85604 19.341 6.89189 18.2857 8.16967 18.2857C9.44745 18.2857 10.4833 19.341 10.4833 20.6428C10.4833 21.9446 9.44745 22.9999 8.16967 22.9999C6.89189 22.9999 5.85604 21.9446 5.85604 20.6428ZM7.39846 20.6428C7.39846 21.0767 7.74374 21.4285 8.16967 21.4285C8.59559 21.4285 8.94087 21.0767 8.94087 20.6428C8.94087 20.2089 8.59559 19.8571 8.16967 19.8571C7.74374 19.8571 7.39846 20.2089 7.39846 20.6428ZM15.2867 19.7408C15.6448 18.86 16.4884 18.2857 17.4242 18.2857C18.7019 18.2857 19.7378 19.341 19.7378 20.6428C19.7378 21.5962 19.1741 22.4557 18.3096 22.8205C17.445 23.1853 16.4499 22.9837 15.7882 22.3095C15.1265 21.6354 14.9285 20.6216 15.2867 19.7408ZM16.653 20.6428C16.653 21.0767 16.9982 21.4285 17.4242 21.4285C17.8501 21.4285 18.1954 21.0767 18.1954 20.6428C18.1954 20.2089 17.8501 19.8571 17.4242 19.8571C16.9982 19.8571 16.653 20.2089 16.653 20.6428Z')
