div(class="relative flex flex-col") 
  div(class="relative group")
    a(href="#") 
      img(class="object-cover object-center w-full lg:max-w-[262px] h-full lg:max-h-[280px] max-h-[273px]" src=`./images/category/recommended3.png` alt="")
      // 第 1 種狀態
      div(class="absolute left-3 bottom-[44px] bg-gray-800 w-14 h-14 rounded-sm flex items-center justify-center")
        p(class="flex flex-col text-sm text-white left-[30px]") 
          span 東港
          span 名產

      // 第 2 種狀態
      div(class="absolute bottom-0 flex justify-center w-full h-8 px-1 bg-origin-500")
        p(class="flex items-center font-bold text-white")
          span(class="xl:text-sm text-11") 12.12 限定 熱銷商品破盤價 下殺 
          span(class="xl:text-10 text-[9px]") $
          span(class="text-xs xl:text-base") 299

      // 第 3 種狀態
      div(class="absolute -translate-x-1/2 -translate-y-1/2 bg-white left-1/2 top-1/2 bg-opacity-60")
        p(class="text-black text-base px-2 py-[6px] whitespace-nowrap") 售完補貨中

    // hover 愛心狀態
    button(class="absolute top-3 right-3 rounded-full w-[30px] h-[30px] flex items-center justify-center bg-white bg-opacity-80 duration-150 opacity-0 group-hover:opacity-100" type="button")
      img(class="w-5 h-5" src="./images/main/like.svg" alt="")

    // hover 加入購物車狀態
    button(class="absolute bottom-0 left-0 flex items-center justify-center w-full h-12 duration-150 bg-white opacity-0 bg-opacity-80 group-hover:opacity-100" type="button")
      div(class="flex items-center justify-center space-x-1")
        img(class="w-[10px] h-[10px]" src="./images/main/navigation_plus.svg" alt="")
        span 加入購物車

  div(class="flex flex-col px-3 pb-4 mt-2 lg:pb-0 lg:px-0 lg:mt-4")
    p(class="text-slate-400 lg:mt-6 lg:text-xs text-10") 胡同嚴選
    a(class="mt-[5px] text-sm text-black lg:mt-3 lg:text-base" href="#") 胡同 元氣爆米花-原味 (短效期, 2024.03) / 200g/桶
    div(class="flex lg:flex-col flex-col-reverse mt-[9px] lg:mt-[14px]")
      div(class="flex lg:justify-normal justify-between space-y-2 xl:space-x-6 lg:space-x-4 lg:space-y-0 flex-row mt-[10px] lg:mt-0")
        p(class="flex flex-col font-semibold text-red-500 lg:space-x-2 lg:block")
          span(class="lg:text-xs text-10") 優惠價
          span(class="text-sm lg:text-base") NT$ 99
        p(class="font-semibold text-gray-700 line-through")
          span(class="text-sm lg:text-base") NT$ 129
      // 4 種狀態
      div(class="flex flex-wrap items-center lg:mt-2")
        p(class="px-2 py-1 mb-1 mr-3 text-white bg-red-400 rounded-sm text-10") 限量新品
        p(class="px-2 py-1 mb-1 mr-3 text-white bg-green-400 rounded-sm text-10") 常溫
        p(class="px-2 py-1 mb-1 mr-3 text-white bg-blue-400 rounded-sm text-10") 冷藏
        p(class="px-2 py-1 mb-1 mr-3 text-white bg-purple-400 rounded-sm text-10") 冷凍
