@import url("./tailwind.css");

.breadCrumbLink:not(:first-child):before {
  content: ">";

  @apply pr-1;
}

.swiper-products {
  height: 80%;
  width: 100%;
}

.swiper-products .swiper-slide {
  @apply before:absolute before:inset-0 before:z-1 before:w-full before:h-full before:bg-black before:bg-opacity-[0.02];
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: none !important;
}

.swiper-products .swiper-button-disabled {
  @apply !opacity-50;
}

.swiper-button-products-next,
.swiper-button-products-prev,
.swiper-button-products-thumb-next,
.swiper-button-products-thumb-prev {
  @apply !top-1/2 !mt-0 !-translate-y-1/2;
}

.swiper-products-thumb {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.swiper-products-thumb .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.swiper-products-thumb .swiper-slide-thumb-active {
  opacity: 1;
}

.select-wrapper {
  @apply relative;
}

.select-wrapper::after {
  @apply absolute top-1/2 right-4 transform -translate-y-1/2 pointer-events-none w-3 h-[7px];
  content: "";
  background-image: url("../images/arrows/light_small_down.svg");
}
