include ../../components/member/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("address")
  body
    include ../../components/member/header.pug

    main(class="flex flex-col mx-auto max-w-screen-2xl pt-6 pb-[120px] lg:pb-[194px]")
      // 麵包屑
      ul(class="flex-wrap items-center hidden px-6 mx-0 space-x-1 lg:flex lg:mx-12 lg:px-0")
        li(class="breadCrumbLink")
          a(class="text-sm text-slate-600" href="#") 首頁
        li(class="breadCrumbLink")
          a(class="text-sm text-slate-600" href="#") 會員中心
        li(class="breadCrumbLink")
          a(class="text-sm text-slate-600" href="#") 常用地址
      
      // 回上一頁
      a(class="inline-block px-4 text-base text-slate-600 lg:hidden" href="#") < 回上一頁

      div(class="flex mx-0 xl:space-x-[100px] lg:space-x-12 lg:mx-12 mt-10")
        // 左邊選單
        section(class="flex-1 max-w-[182px] lg:block hidden")
          p(class="text-xl font-semibold text-slate-600") 會員中心
          ul(id="dropdownMenu" class="flex flex-col mt-10 space-y-4")
            li(class="relative")
              button(class="flex items-center justify-between w-full text-base dropdownButton text-slate-600")
                span 我的資料
                img(class="dropdwonIcon" src="../images/arrows/light_small_down.svg" alt="")
                img(class="hidden dropupIcon" src="../images/arrows/light_small_up.svg" alt="")
              div(class="hidden flex-col mt-[10px] border-t border-b bg-neutral-50 border-neutral-200 dropdownList")
                a(class="px-5 py-3" href="#")
                  // active 狀態: before:absolute before:-bottom-1 before:left-0 before:w-full before:border-b before:border-black
                  span(class="relative") 修改密碼
                a(class="px-5 py-3" href="#")
                  span(class="relative") 付款資訊
                a(class="px-5 py-3" href="#") 
                  // active 狀態: before:absolute before:-bottom-1 before:left-0 before:w-full before:border-b before:border-black
                  span(class="relative before:absolute before:-bottom-1 before:left-0 before:w-full before:border-b before:border-black") 常用地址
                a(class="px-5 py-3" href="#") 
                  span(class="relative") 發票歸戶
            li(class="relative")
              button(class="flex items-center justify-between w-full text-base dropdownButton text-slate-600")
                span 訂單資料
                img(class="dropdwonIcon" src="../images/arrows/light_small_down.svg" alt="")
                img(class="hidden dropupIcon" src="../images/arrows/light_small_up.svg" alt="")
            li(class="relative")
              button(class="flex items-center justify-between w-full text-base dropdownButton text-slate-600")
                span 點數紀錄
                img(class="dropdwonIcon" src="../images/arrows/light_small_down.svg" alt="")
                img(class="hidden dropupIcon" src="../images/arrows/light_small_up.svg" alt="")
            li(class="relative")
              button(class="flex items-center justify-between w-full text-base dropdownButton text-slate-600")
                span 優惠卷
                img(class="dropdwonIcon" src="../images/arrows/light_small_down.svg" alt="")
                img(class="hidden dropupIcon" src="../images/arrows/light_small_up.svg" alt="")
            li(class="relative")
              button(class="flex items-center justify-between w-full text-base dropdownButton text-slate-600")
                span 登出

        // 右邊區塊
        section(class="flex-1 mx-6 lg:mx-0")
          div(class="flex flex-col mx-auto space-y-10")
            // 常用地址
            div(class="border-b border-neutral-200 lg:pb-[26px] pb-4 flex justify-between items-end")
              p(class="text-xl font-bold text-black") 常用地址
              button(class="bg-gray-150 px-6 py-[10px] flex space-x-[10px] text-slate-800 text-base rounded items-center duration-150 group hover:bg-slate-800 hover:text-white" id="openModal" type="button")
                svg(class="fill-current" width="13" height="13" viewbox="0 0 13 13" xmlns="http://www.w3.org/2000/svg")
                  path(d="M5.77778 5.77778H0.722222C0.32335 5.77778 0 6.10113 0 6.5C0 6.89887 0.32335 7.22222 0.722222 7.22222H5.77778V12.2778C5.77778 12.6767 6.10113 13 6.5 13C6.89887 13 7.22222 12.6767 7.22222 12.2778V7.22222H12.2778C12.6767 7.22222 13 6.89887 13 6.5C13 6.10113 12.6767 5.77778 12.2778 5.77778H7.22222V0.722222C7.22222 0.32335 6.89887 0 6.5 0C6.10113 0 5.77778 0.32335 5.77778 0.722222V5.77778Z")
                span 新增地址
            each val in [1, 2]
              div(class="flex flex-col justify-between px-4 py-8 space-y-8 border rounded lg:flex-row lg:px-12 lg:py-6 border-neutral-200 lg:space-y-0")
                ul(class="flex flex-col flex-auto space-y-5")
                  li(class="flex")
                    p(class="w-1/3 text-base lg:w-1/6 text-slate-800") 名稱
                    p(class="w-2/3 text-base lg:w-5/6 text-slate-800") 我的辦公室
                  li(class="flex")
                    p(class="w-1/3 text-base lg:w-1/6 text-slate-800") 收件人
                    p(class="w-2/3 text-base lg:w-5/6 text-slate-800") 李彼得
                  li(class="flex")
                    p(class="w-1/3 text-base lg:w-1/6 text-slate-800") 聯絡電話
                    p(class="w-2/3 text-base lg:w-5/6 text-slate-800") 093677291287
                  li(class="flex")
                    p(class="w-1/3 text-base lg:w-1/6 text-slate-800") 地址
                    p(class="w-2/3 text-base lg:w-5/6 text-slate-800") 台北市信義路三段456巷17-1號12樓之2
                  li(class="flex")
                    p(class="w-1/3 text-base lg:w-1/6 text-slate-800") 備註
                    p(class="w-2/3 text-base lg:w-5/6 text-slate-800") 請於警衛室前換證
                div(class="flex justify-between lg:flex-col lg:items-end")
                  label(class="flex items-center space-x-2")
                    input(class="round-checkbox" type="radio" name="address")
                    p(class="text-base text-slate-800") 預設
                  button(type="button")
                    img(class="w-[18px] h-[18px]" src="../images/member/garbage.svg" alt="")

    // 新增常用地址 Modal
    dialog(class="lg:w-[870px] w-full px-6 py-8 bg-white rounded shadow-lg lg:px-14 lg:py-20 backdrop:bg-black/50" id="addressModal")
      p(class="text-xl font-semibold text-center text-slate-800") 新增常用地址
      div(class="flex flex-col mt-10 space-y-10")
        div(class="flex flex-col space-y-3")
          label(class="text-sm text-slate-800" for="name") 名稱
          input(class="w-full h-[52px] border border-neutral-200 rounded px-6" id="name" type="text" value="我的辦公室")

        div(class="flex lg:flex-row flex-col lg:space-x-[35px] space-y-10 lg:space-y-0")
          div(class="flex flex-col flex-1 space-y-3")
            label(class="text-sm text-slate-800" for="recipient") 收件人
            input(class="w-full h-[52px] border border-neutral-200 rounded px-6" id="recipient" type="text" value="李彼得")
            label(class="flex items-center space-x-2")
              input(class="round-checkbox" type="radio")
              p(class="text-base text-slate-800") 設為預設
          div(class="flex flex-col flex-1 space-y-3")
            label(class="text-sm text-slate-800" for="phone") 聯絡電話
            input(class="w-full h-[52px] border border-neutral-200 rounded px-6" id="phone" type="text" value="0935760032")

        div(class="flex flex-col space-y-10 lg:flex-row lg:space-x-5 lg:space-y-0")
          div(class="flex flex-col space-y-[15px]")
            p(class="text-sm text-slate-800") 縣市
            div(class="lg:w-[190px] w-full flex-1 select-wrapper")
              select(class="w-full h-12 px-6 py-[9px] text-base border rounded appearance-none text-black border-neutral-200")
                option(value="台北市") 台北市
                option(value="新北市") 新北市
                option(value="基隆市") 基隆市
          div(class="flex flex-col space-y-[15px]")
            p(class="text-sm text-slate-800") 鄉鎮區
            div(class="lg:w-[190px] w-full flex-1 select-wrapper")
              select(class="w-full h-12 px-6 py-[9px] text-base border rounded appearance-none text-black border-neutral-200")
                option(value="中山區") 中山區
                option(value="信義區") 信義區
                option(value="仁愛區") 仁愛區
          div(class="flex flex-col space-y-[15px] flex-1")
            p(class="text-sm text-slate-800") 鄉鎮區
            input(class="w-full h-[52px] border border-neutral-200 rounded px-6" type="text" value="中山北路三段39號11樓之三")

        div(class="flex flex-col space-y-3")
          label(class="text-sm text-slate-800" for="remark") 備註
          textarea(class="w-full min-h-[116px] px-5 py-3 text-sm border rounded border-neutral-200 resize-none" id="remark")

        div(class="flex items-center justify-center mt-12 space-x-8 lg:space-x-14")
          button(class="h-[52px] lg:h-[60px] flex items-center justify-center text-slate-350 whitespace-nowrap" id="cancelModal") 取消
          button(class="lg:max-w-[280px] max-w-[140px] w-full h-[52px] lg:h-[60px] flex items-center justify-center text-white bg-origin-600 rounded" id="finishModal") 完成

    include ../../components/member/footer.pug
