include ../../components/member/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("address")
  body
    include ../../components/member/header.pug
    div member address

    include ../../components/member/footer.pug
