include ../../components/member/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("index")
  body
    include ../../components/member/header.pug

    main(class="flex flex-col mx-auto max-w-screen-2xl pt-10 pb-[120px] lg:pb-[194px]")
      // 麵包屑
      ul(class="flex-wrap items-center hidden px-6 mx-0 space-x-1 lg:flex lg:mx-12 lg:px-0")
        li(class="breadCrumbLink")
          a(class="text-sm text-slate-600" href="#") 首頁
        li(class="breadCrumbLink")
          a(class="text-sm text-slate-600" href="#") 會員中心

      div(class="flex mx-0 xl:space-x-[100px] lg:space-x-12 lg:mx-12 lg:mt-10")
        // 左邊選單
        section(class="flex-1 max-w-[182px] lg:block hidden")
          p(class="text-xl font-semibold text-slate-600") 會員中心
          ul(id="dropdownMenu" class="flex flex-col mt-10 space-y-4")
            li(class="relative")
              button(class="flex items-center justify-between w-full text-base dropdownButton text-slate-600")
                span 我的資料
                img(class="dropdwonIcon" src="../images/arrows/light_small_down.svg" alt="")
                img(class="hidden dropupIcon" src="../images/arrows/light_small_up.svg" alt="")
              div(class="hidden flex-col mt-[10px] border-t border-b bg-neutral-50 border-neutral-200 dropdownList")
                a(class="px-5 py-4" href="#") 修改密碼
                a(class="px-5 py-4" href="#") 付款資訊
                a(class="px-5 py-4" href="#") 常用地址
                a(class="px-5 py-4" href="#") 發票歸戶
            li(class="relative")
              button(class="flex items-center justify-between w-full text-base dropdownButton text-slate-600")
                span 訂單資料
                img(class="dropdwonIcon" src="../images/arrows/light_small_down.svg" alt="")
                img(class="hidden dropupIcon" src="../images/arrows/light_small_up.svg" alt="")
            li(class="relative")
              button(class="flex items-center justify-between w-full text-base dropdownButton text-slate-600")
                span 點數紀錄
                img(class="dropdwonIcon" src="../images/arrows/light_small_down.svg" alt="")
                img(class="hidden dropupIcon" src="../images/arrows/light_small_up.svg" alt="")
            li(class="relative")
              button(class="flex items-center justify-between w-full text-base dropdownButton text-slate-600")
                span 優惠卷
                img(class="dropdwonIcon" src="../images/arrows/light_small_down.svg" alt="")
                img(class="hidden dropupIcon" src="../images/arrows/light_small_up.svg" alt="")
            li(class="relative")
              button(class="flex items-center justify-between w-full text-base dropdownButton text-slate-600")
                span 登出

        // 右邊區塊
        section(class="flex-1 mx-6 lg:mx-0")
          div(class="flex flex-col justify-between space-y-6 lg:flex-row lg:space-y-0")
            p(class="text-xl font-semibold text-black lg:text-4xl") Hello,李彼得
            div(class="bg-gray-150 lg:w-[165px] w-[184px] lg:h-[156px] h-[165px] flex flex-col items-center justify-center lg:space-y-4 space-y-[44px] lg:mx-0 mx-auto rounded")
              p(class="text-sm text-black lg:text-base") 現有會員積分
              p(class="lg:text-[32px] text-[28px] font-medium text-black") 9999
          div(class="flex flex-col lg:space-y-[112px] space-y-10")
            // 我的訂單
            div
              div(class="border-b border-neutral-200 lg:pb-[26px] pb-4 lg:mt-0 mt-[47px]")
                p(class="text-base font-bold text-black lg:text-xl") 我的訂單
              div(class="py-10 border-b border-neutral-200")
                p(class="text-sm text-black lg:text-base") 你目前沒有任何訂單記錄，檢閱過去
                  |
                  a(class="underline" href="#") 購買紀錄
            // 帳戶資訊
            div
              div(class="border-b border-neutral-200 lg:pb-[26px] pb-4 lg:mt-0 mt-[47px]")
                p(class="text-base font-bold text-black lg:text-xl") 帳戶資訊
              div(class="py-10 border-b border-neutral-200")
                a(class="text-sm text-black underline lg:text-base" href="#") 更新我的資料
            // 我的收藏
            div
              div(class="border-b border-neutral-200 lg:pb-[26px] pb-4 lg:mt-0 mt-[47px]")
                p(class="text-base font-bold text-black lg:text-xl") 我的收藏
              div(class="py-10 border-b border-neutral-200")
                p(class="flex items-center space-x-2 text-sm text-black lg:text-base")
                  img(src="../images/main/like.svg" alt="")
                  |
                  a(class="underline" href="#") 瀏覽我的收藏 (18)

    include ../../components/member/footer.pug
