include ../../components/member/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("index")
  body
    include ../../components/member/header.pug
    div member index

    include ../../components/member/footer.pug
