include ../../components/member/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("information")
  body
    include ../../components/member/header.pug
    div member information

    include ../../components/member/footer.pug
