include ../../components/member/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("invoice")
  body
    include ../../components/member/header.pug
    div member invoice

    include ../../components/member/footer.pug
