include ../../components/member/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("order-records")
  body
    include ../../components/member/header.pug
    div member order-records

    include ../../components/member/footer.pug
