include ../../components/member/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("order-menu")
  body
    include ../../components/member/header.pug
    div member order-menu

    include ../../components/member/footer.pug
