include ../../components/member/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("password")
  body
    include ../../components/member/header.pug
    div member password

    include ../../components/member/footer.pug
