include ../../components/member/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("password")
  body
    include ../../components/member/header.pug

    main(class="flex flex-col mx-auto max-w-screen-2xl pt-6 pb-[120px] lg:pb-[194px]")
      // 麵包屑
      ul(class="flex-wrap items-center hidden px-6 mx-0 space-x-1 lg:flex lg:mx-12 lg:px-0")
        li(class="breadCrumbLink")
          a(class="text-sm text-slate-600" href="#") 首頁
        li(class="breadCrumbLink")
          a(class="text-sm text-slate-600" href="#") 會員中心
        li(class="breadCrumbLink")
          a(class="text-sm text-slate-600" href="#") 我的資料
      
      // 回上一頁
      a(class="inline-block px-4 text-base text-slate-600 lg:hidden" href="#") < 回上一頁

      div(class="flex mx-0 xl:space-x-[100px] lg:space-x-12 lg:mx-12 mt-10")
        // 左邊選單
        section(class="flex-1 max-w-[182px] lg:block hidden")
          p(class="text-xl font-semibold text-slate-600") 會員中心
          ul(id="dropdownMenu" class="flex flex-col mt-10 space-y-4")
            li(class="relative")
              button(class="flex items-center justify-between w-full text-base dropdownButton text-slate-600")
                span 我的資料
                img(class="dropdwonIcon" src="../images/arrows/light_small_down.svg" alt="")
                img(class="hidden dropupIcon" src="../images/arrows/light_small_up.svg" alt="")
              div(class="hidden flex-col mt-[10px] border-t border-b bg-neutral-50 border-neutral-200 dropdownList")
                a(class="px-5 py-4" href="#") 修改密碼
                a(class="px-5 py-4" href="#") 付款資訊
                a(class="px-5 py-4" href="#") 常用地址
                a(class="px-5 py-4" href="#") 發票歸戶
            li(class="relative")
              button(class="flex items-center justify-between w-full text-base dropdownButton text-slate-600")
                span 訂單資料
                img(class="dropdwonIcon" src="../images/arrows/light_small_down.svg" alt="")
                img(class="hidden dropupIcon" src="../images/arrows/light_small_up.svg" alt="")
            li(class="relative")
              button(class="flex items-center justify-between w-full text-base dropdownButton text-slate-600")
                span 點數紀錄
                img(class="dropdwonIcon" src="../images/arrows/light_small_down.svg" alt="")
                img(class="hidden dropupIcon" src="../images/arrows/light_small_up.svg" alt="")
            li(class="relative")
              button(class="flex items-center justify-between w-full text-base dropdownButton text-slate-600")
                span 優惠卷
                img(class="dropdwonIcon" src="../images/arrows/light_small_down.svg" alt="")
                img(class="hidden dropupIcon" src="../images/arrows/light_small_up.svg" alt="")
            li(class="relative")
              button(class="flex items-center justify-between w-full text-base dropdownButton text-slate-600")
                span 登出

        // 右邊區塊
        section(class="flex-1 mx-6 lg:mx-0")
          div(class="flex flex-col mx-auto space-y-10")
            // 修改密碼
            div(class="border-b border-neutral-200 lg:pb-[26px] pb-4")
              p(class="text-xl font-bold text-black") 修改密碼
            div(class="flex flex-col justify-between max-w-[455px] w-full mx-auto")
              div(class="flex flex-col w-full space-y-3")
                // error 狀態 class: !border-red-650
                label(class="text-sm text-slate-800" for="password") 新密碼
                input(class="max-w-[455px] w-full h-[52px] border border-neutral-200 rounded px-6" id="password" type="password" value="")
                span(class="block mt-[11px] text-sm text-red-650") 輸入的密碼不一致
              div(class="flex flex-col w-full mt-8 space-y-3 lg:mt-10")
                // error 狀態 class: !border-red-650
                label(class="text-sm text-slate-800" for="password2") 再次輸入新密碼
                input(class="max-w-[455px] w-full h-[52px] border border-neutral-200 rounded px-6 !border-red-650" id="password2" type="password" value="")
                span(class="block mt-[11px] text-sm text-red-650") 輸入的密碼不一致
              div(class="flex items-center w-full mt-10 space-x-5 lg:mt-14")
                button(class="text-center rounded max-w-[218px] h-[52px] w-full bg-gray-150 text-slate-800 text-base" type="button") 取消
                button(class="text-center rounded max-w-[218px] h-[52px] w-full bg-origin-600 text-white text-base" type="button") 儲存

    include ../../components/member/footer.pug
