include ../../components/member/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("payment")
  body
    include ../../components/member/header.pug

    main(class="flex flex-col mx-auto max-w-screen-2xl pt-6 pb-[120px] lg:pb-[194px]")
      // 麵包屑
      ul(class="flex-wrap items-center hidden px-6 mx-0 space-x-1 lg:flex lg:mx-12 lg:px-0")
        li(class="breadCrumbLink")
          a(class="text-sm text-slate-600" href="#") 首頁
        li(class="breadCrumbLink")
          a(class="text-sm text-slate-600" href="#") 會員中心
        li(class="breadCrumbLink")
          a(class="text-sm text-slate-600" href="#") 付款資訊
      
      // 回上一頁
      a(class="inline-block px-4 text-base text-slate-600 lg:hidden" href="#") < 回上一頁

      div(class="flex mx-0 xl:space-x-[100px] lg:space-x-12 lg:mx-12 mt-10")
        // 左邊選單
        section(class="flex-1 max-w-[182px] lg:block hidden")
          p(class="text-xl font-semibold text-slate-600") 會員中心
          ul(id="dropdownMenu" class="flex flex-col mt-10 space-y-4")
            li(class="relative")
              button(class="flex items-center justify-between w-full text-base dropdownButton text-slate-600")
                span 我的資料
                img(class="dropdwonIcon" src="../images/arrows/light_small_down.svg" alt="")
                img(class="hidden dropupIcon" src="../images/arrows/light_small_up.svg" alt="")
              div(class="hidden flex-col mt-[10px] border-t border-b bg-neutral-50 border-neutral-200 dropdownList")
                a(class="px-5 py-3" href="#")
                  // active 狀態: before:absolute before:-bottom-1 before:left-0 before:w-full before:border-b before:border-black
                  span(class="relative") 修改密碼
                a(class="px-5 py-3" href="#")
                  // active 狀態: before:absolute before:-bottom-1 before:left-0 before:w-full before:border-b before:border-black
                  span(class="relative before:absolute before:-bottom-1 before:left-0 before:w-full before:border-b before:border-black") 付款資訊
                a(class="px-5 py-3" href="#") 
                  span(class="relative") 常用地址
                a(class="px-5 py-3" href="#") 
                  span(class="relative") 發票歸戶
            li(class="relative")
              button(class="flex items-center justify-between w-full text-base dropdownButton text-slate-600")
                span 訂單資料
                img(class="dropdwonIcon" src="../images/arrows/light_small_down.svg" alt="")
                img(class="hidden dropupIcon" src="../images/arrows/light_small_up.svg" alt="")
            li(class="relative")
              button(class="flex items-center justify-between w-full text-base dropdownButton text-slate-600")
                span 點數紀錄
                img(class="dropdwonIcon" src="../images/arrows/light_small_down.svg" alt="")
                img(class="hidden dropupIcon" src="../images/arrows/light_small_up.svg" alt="")
            li(class="relative")
              button(class="flex items-center justify-between w-full text-base dropdownButton text-slate-600")
                span 優惠卷
                img(class="dropdwonIcon" src="../images/arrows/light_small_down.svg" alt="")
                img(class="hidden dropupIcon" src="../images/arrows/light_small_up.svg" alt="")
            li(class="relative")
              button(class="flex items-center justify-between w-full text-base dropdownButton text-slate-600")
                span 登出

        // 右邊區塊
        section(class="flex-1 mx-6 lg:mx-0")
          div(class="flex flex-col mx-auto space-y-10")
            // 付款資訊
            div(class="border-b border-neutral-200 lg:pb-[26px] pb-4")
              p(class="text-xl font-bold text-black") 付款資訊
            div(class="grid grid-cols-1 gap-6 mx-auto place-content-center sm:grid-cols-2 w-max")
              // 信用卡資訊
              each val in [1, 2, 3, 4, 5, 6]
                div(class="flex flex-col w-[308px] p-5 bg-yellow-250 border border-neutral-200 rounded-lg space-y-9")
                  div(class="flex items-center justify-between")
                    p(class="text-base text-slate-800") 中國信託商業銀行
                    img(src="../images/member/logo_visa.png" alt="")
                  p(class="text-base text-slate-800") 4003-xxxx-xxx-0311
                  div(class="flex items-center justify-between")
                    label(class="flex items-center space-x-2")
                      input(class="round-checkbox" type="radio" name="creditCard")
                      p(class="text-base text-slate-800") 預設
                    button(type="button")
                      img(class="w-[18px] h-[18px]" src="../images/member/garbage.svg" alt="")

    include ../../components/member/footer.pug
