include ../../components/member/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("payment")
  body
    include ../../components/member/header.pug
    div member payment

    include ../../components/member/footer.pug
