include ../components/common/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("activity")
  body
    include ../components/common/header.pug

    main(class="flex flex-col mx-auto max-w-screen-2xl pt-6 lg:pt-10 pb-[86px] lg:pb-[120px]")
      div(class="flex pb-10 mx-0 lg:space-x-8 lg:mx-10 lg:pb-0")
        // 左邊選單
        section(class="flex-1 max-w-[182px] lg:block hidden")
          p(class="text-xl font-semibold text-slate-600") 當期活動
          ul(id="dropdownMenu" class="flex flex-col mt-10 space-y-4")
            each val in [1, 2, 3, 4, 5]
              li(class="relative")
                button(class="flex items-center justify-between w-full text-base dropdownButton text-slate-600")
                  span= `下殺折扣${val}`
                  img(class="dropdwonIcon" src="./images/arrows/light_small_down.svg", alt="")
                  img(class="hidden dropupIcon" src="./images/arrows/light_small_up.svg", alt="")
                div(class="hidden flex-col mt-[10px] border-t border-b bg-neutral-50 border-neutral-200 dropdownList")
                  each item in [1, 2, 3, 4, 5, 6]
                    a(class="px-5 py-4" href="#")= `低溫食品全面9折${item}`

        // 右邊商品列表
        section(class="flex-1")
          // 麵包屑
          ul(class="flex flex-wrap items-center px-6 space-x-1 lg:px-0")
            li(class="breadCrumbLink")
              a(class="text-sm text-slate-600" href="#") 熱銷活動
            li(class="breadCrumbLink")
              a(class="text-sm text-slate-600" href="#") 當期活動

          // 分類標題
          a(class="block mt-5 lg:mt-6" href="#") 
            img(class="object-cover object-center w-full lg:h-[400px] h-[180px] lg:rounded" src="./images/activity/activityBanner.png" alt="")

          div(class="mt-10 px-[51px] lg:px-4")
            p(class="lg:text-[40px] lg:leading-normal text-xl font-semibold text-black text-center") 限時下殺！低溫食品 全面9折
            p(class="mt-5 text-sm text-center text-black lg:text-xl") 歡慶龍年到，胡同嚴選燒肉低溫食品即日起到明日全面9折
            div(class="mt-5 text-center lg:mt-7")
              // 狀態 1 -> 活動現正進行中
              button(class="px-16 py-4 text-base font-semibold text-white bg-green-600 rounded" type="button") 活動現正進行中
              // 狀態 2 -> 活動已結束 & 活動尚未開始
              // button(class="px-16 py-4 text-base font-semibold text-white rounded bg-neutral-400" type="button" disabled) 活動已結束
              // button(class="px-16 py-4 text-base font-semibold text-white rounded bg-neutral-400" type="button" disabled) 活動尚未開始
            div(class="flex items-center justify-center mt-5 space-x-2 lg:mt-7")
              img(src="./images/icon/clock.svg", alt="")
              p(class="text-base text-black") 活動時間 2024.01.01~2024.12.31

          // 倒數區塊
          section(class="bg-origin-600 lg:py-[27px] py-3 lg:h-[90px] h-[74px] lg:mt-12 mt-10")
            div(class="flex flex-col items-center justify-center space-y-3 lg:space-x-10 lg:space-y-0 lg:flex-row")
              p(class="text-white lg:text-[22px] text-xs font-medium flex space-x-1")
                span 龍年盛典
                span(class="inline-block lg:hidden") 限時倒數
              div(class="flex items-center space-x-2")
                span(class="flex items-center justify-center lg:text-2xl text-base font-medium text-white bg-orange-400 rounded lg:w-7 w-4 lg:h-9 h-[22px]") 1
                span(class="flex items-center justify-center lg:text-2xl text-base font-medium text-white bg-orange-400 rounded lg:w-7 w-4 lg:h-9 h-[22px]") 2
                span(class="flex items-center justify-center lg:text-2xl text-base font-medium text-white lg:w-7 w-4 lg:h-9 h-[22px]") ：
                span(class="flex items-center justify-center lg:text-2xl text-base font-medium text-white bg-orange-400 rounded lg:w-7 w-4 lg:h-9 h-[22px]") 0
                span(class="flex items-center justify-center lg:text-2xl text-base font-medium text-white bg-orange-400 rounded lg:w-7 w-4 lg:h-9 h-[22px]") 8
                span(class="flex items-center justify-center lg:text-2xl text-base font-medium text-white lg:w-7 w-4 lg:h-9 h-[22px]") ：
                span(class="flex items-center justify-center lg:text-2xl text-base font-medium text-white bg-orange-400 rounded lg:w-7 w-4 lg:h-9 h-[22px]") 0
                span(class="flex items-center justify-center lg:text-2xl text-base font-medium text-white bg-orange-400 rounded lg:w-7 w-4 lg:h-9 h-[22px]") 8
              p(class="text-white lg:text-[22px] text-xs font-medium lg:block hidden") 限時倒數

          // Banner
          div(class="flex justify-between mt-10 lg:mt-8 lg:px-0 px-[10px] space-x-[10px]")
            each val in [1, 2, 3]
              a(href="#") 
                img(class="object-cover object-center w-full max-w-[360px] max-h-[230px] h-auto" src=`https://fakeimg.pl/360x230/?text=Banner${val}` alt="")
          
          // 篩選列表
          section(class="mt-10 lg:mt-7")
            ul(class="flex items-center text-xl font-semibold text-center text-black lg:px-0 px-6 lg:space-x-[46px] space-x-2")
              li
                p(class="text-sm text-slate-600") 最新
              // active 狀態為 "text-origin-700 bg-neutral-100"，非 active 狀態為 "text-slate-600"
              li
                button(class="px-3 lg:px-[18px] py-[15px] text-sm text-origin-700 bg-neutral-100 flex items-center space-x-3 rounded-lg duration-150 group hover:text-origin-700 hover:bg-neutral-100" type="button")
                  span 價錢高到低
                  svg(class="fill-current" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M9.85714 6.85693L20.1429 6.85693C20.6162 6.85693 21 6.47318 21 5.99979C21 5.5264 20.6162 5.14265 20.1429 5.14265L9.85714 5.14265C9.38376 5.14265 9 5.5264 9 5.99979C9 6.47318 9.38376 6.85693 9.85714 6.85693Z")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M9.85714 10.2856L16.7143 10.2856C17.1877 10.2856 17.5714 9.90189 17.5714 9.4285C17.5714 8.95511 17.1877 8.57136 16.7143 8.57136L9.85714 8.57136C9.38376 8.57136 9 8.95511 9 9.4285C9 9.90189 9.38376 10.2856 9.85714 10.2856Z")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M9.85714 13.7144L13.2857 13.7144C13.7591 13.7144 14.1429 13.3306 14.1429 12.8572C14.1429 12.3838 13.7591 12.0001 13.2857 12.0001L9.85714 12.0001C9.38376 12.0001 9 12.3838 9 12.8572C9 13.3306 9.38376 13.7144 9.85714 13.7144Z")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M6.51491 19.7144C6.76252 19.7144 6.98561 19.6094 7.14209 19.4415C7.14951 19.4345 7.15684 19.4275 7.16407 19.4202L10.1945 16.3898C10.5293 16.055 10.5293 15.5123 10.1945 15.1776C9.85979 14.8429 9.31708 14.8429 8.98235 15.1776L7.37205 16.7879L7.37205 5.14292C7.37205 4.66954 6.98829 4.28578 6.51491 4.28578C6.04152 4.28578 5.65776 4.66954 5.65776 5.14292L5.65776 16.7999L4.0355 15.1776C3.70076 14.8429 3.15805 14.8429 2.82332 15.1776C2.48858 15.5123 2.48858 16.055 2.82332 16.3898L5.85378 19.4202C5.88743 19.4539 5.92319 19.4842 5.96063 19.511C6.11007 19.6379 6.30356 19.7144 6.51491 19.7144Z")
              li
                button(class="px-3 lg:px-[18px] py-[15px] text-sm text-slate-600 flex items-center space-x-3 rounded-lg duration-150 group hover:text-origin-700 hover:bg-neutral-100" type="button")
                  span 價錢低到高
                  svg(class="fill-current" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M9.85714 17.1431H20.1429C20.6162 17.1431 21 17.5268 21 18.0002C21 18.4736 20.6162 18.8574 20.1429 18.8574H9.85714C9.38376 18.8574 9 18.4736 9 18.0002C9 17.5268 9.38376 17.1431 9.85714 17.1431Z")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M9.85714 13.7144H16.7143C17.1877 13.7144 17.5714 14.0981 17.5714 14.5715C17.5714 15.0449 17.1877 15.4286 16.7143 15.4286H9.85714C9.38376 15.4286 9 15.0449 9 14.5715C9 14.0981 9.38376 13.7144 9.85714 13.7144Z")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M9.85714 10.2856H13.2857C13.7591 10.2856 14.1429 10.6694 14.1429 11.1428C14.1429 11.6162 13.7591 11.9999 13.2857 11.9999H9.85714C9.38376 11.9999 9 11.6162 9 11.1428C9 10.6694 9.38376 10.2856 9.85714 10.2856Z")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M6.51295 4.28564C6.76057 4.28564 6.98366 4.39064 7.14013 4.55854C7.14756 4.56546 7.15489 4.57254 7.16212 4.57977L10.1926 7.61023C10.5273 7.94496 10.5273 8.48768 10.1926 8.82241C9.85784 9.15715 9.31513 9.15715 8.98039 8.82241L7.3701 7.21211V18.8571C7.3701 19.3305 6.98634 19.7142 6.51295 19.7142C6.03957 19.7142 5.65581 19.3305 5.65581 18.8571V7.20015L4.03355 8.82241C3.69881 9.15715 3.1561 9.15715 2.82136 8.82241C2.48663 8.48768 2.48663 7.94496 2.82136 7.61023L5.85182 4.57977C5.88548 4.54611 5.92124 4.51584 5.95867 4.48895C6.10812 4.36214 6.3016 4.28564 6.51295 4.28564Z")

            div(class="px-4 mt-10 lg:px-0 lg:mt-4")
              div(class="grid grid-cols-2 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-10 gap-x-3 gap-y-4")
                each val in [1, 2, 3, 4]
                  include ../components/product/card1.pug
                  include ../components/product/card2.pug
                  
                // 廣告版位
                section(class="w-full col-span-2 px-2 my-6 lg:col-span-4 lg:mx-auto lg:px-0 lg:my-0")
                  div(class="bg-orange-600 lg:h-[232px] h-[158px] text-white lg:px-10 px-3 lg:py-9 py-6 lg:text-xl text-base") ＊此處為廣告版位

                each val in [1, 2]
                  include ../components/product/card1.pug
                  include ../components/product/card2.pug

              // 分頁
              div(class="lg:mt-[66px] mt-10 flex items-center justify-center space-x-4")
                button(class="flex items-center justify-center w-5 h-5 text-sm font-medium rounded-sm text-slate-800" type="button") <
                // active 狀態為 "text-white bg-origin-500"，非 active 狀態為 "text-slate-800"
                button(class="flex items-center justify-center w-5 h-5 text-sm font-medium text-white rounded-sm bg-origin-500" type="button") 1
                button(class="flex items-center justify-center w-5 h-5 text-sm font-medium rounded-sm text-slate-800" type="button") 2
                button(class="flex items-center justify-center w-5 h-5 text-sm font-medium rounded-sm text-slate-800" type="button") 3
                button(class="flex items-center justify-center w-5 h-5 text-sm font-medium rounded-sm text-slate-800" type="button") ...
                button(class="flex items-center justify-center w-5 h-5 text-sm font-medium rounded-sm text-slate-800" type="button") 10
                button(class="flex items-center justify-center w-5 h-5 text-sm font-medium rounded-sm text-slate-800" type="button") >

    include ../components/common/cookieBanner.pug
    include ../components/common/gotop.pug
    include ../components/common/footer.pug
