include ../components/common/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("co-branded")
  body
    include ../components/common/header.pug

    section(class="") co-branded
    
    include ../components/common/gotop.pug
    include ../components/common/footer.pug
