include ../components/common/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("columnList")
  body
    include ../components/common/header.pug



    include ../components/common/cookieBanner.pug
    include ../components/common/gotop.pug
    include ../components/common/footer.pug
