include ../components/common/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("contentSingle")
  body
    include ../components/common/header.pug

    main(class="mx-auto max-w-screen-2xl pb-[86px] lg:pb-[123px] pt-6 lg:pt-0")
      section(class="px-6 lg:px-12")
        // 麵包屑
        ul(class="flex flex-wrap items-center space-x-1")
          li(class="breadCrumbLink")
            a(class="text-sm text-slate-600" href="#") 首頁
          li(class="breadCrumbLink")
            a(class="text-sm text-slate-600" href="#") 專欄
          li(class="breadCrumbLink")
            a(class="text-sm text-slate-600" href="#") 龍年新氣象！開運風水小知識提升一整年的運勢 

      section(class="lg:px-[264px] px-6 lg:mt-[102px] mt-10")
        p(class="lg:text-[40px] lg:leading-tight text-base text-black font-semibold lg:text-center") 龍年新氣象！開運風水小知識提升一整年的運勢
        p(class="mt-8 lg:mt-12") 新的一年想要好運多多，不論是新的一年想要好運多多，不論是新的一年想要好運多多，不論是不論是新的一年想要好運多多，不論是想要好運多多多多多多。
        div(class="lg:mt-[35px] mt-6 flex items-center space-x-6")
          p(class="text-sm text-black") 2024. 5. 20
          span(class="inline-block px-3 py-1 text-sm text-white bg-red-400 rounded-sm") 最新消息

        div(class="content")
          img(src="./images/contentSingle/banner1.png" alt="")
          h2 以春聯改頭換面是過年必備
          p 學過風水的林昱丞，認為屋子的門是每天出入之處，是重要的門面，因此過年必備的元素是春聯。「佛要金裝人要衣裝，打理家宅的第一步就是大門。」因此每年過年，他一定會換上手寫春聯，上下聯加橫幅是標配，此外有一大張象徵吉祥如意的春聯貼在屋內牆上，廚房也會貼上和灶神相關的春聯。小孩在幼稚園寫的春聯，也讓他們在家裡四處貼，櫃子上門上都行。他笑說寫得很醜沒關係，自己寫的，感覺就是不一樣。
            br
            | 另外添購盆栽也是過年必備，家中本來就種了些植物，年節時林昱丞會再購置白玉蝴蝶、南天竹、長壽梅等，讓家裡看起來更有朝氣和活力。他喜歡盆栽勝於鮮花，覺得看著植栽慢慢成長，似乎也給人帶來希望。「責任，就是要從希望開始，沒有希望就沒有責任。」林昱丞說得自然而直接，責任和希望彷彿是他人生的中心思想。
          h2 大年初一站櫃站到懷疑人生
          p 他孤單一人站櫃過年時在想什麼？「突然覺得自己好愛台灣茶，不然幹嘛站在這裡？」他大笑起來。
            br
            | 創業十二年來，前期遇到不少挫折困難，外部市場的挑戰是消費者喜歡咖啡和珍奶，純茶飲風潮不多，內部市場則有進口茶混充台灣茶的問題，內憂外患之下，大過年的，林昱丞站著站著，開始懷疑人生。「我投資在這個品牌上的錢喝十輩子的茶都喝不完，幹嘛要自創品牌？」
            br
            | 但經過和客人的交流，他更加確認，品牌的功能是無價的相聚時光。「和父母相處的時間是看得到盡頭的，透過泡茶，喝茶，可以讓相聚更有橋樑。」林昱丞說，或許很多已經成家離巢的人都有同感，要約父母出門不容易，地點太遠太累，餐廳太貴不好吃，但約父母來家裡泡茶，父母大多會欣然前往。無論是親人好友相聚，喝喝茶互吐苦水，或是當做一種祝福送禮，茶，都是療癒身心和祝福他人的最好方式。
            br
            | 現在不需要再到百貨公司站櫃了，林昱丞對新年的期許和許多人一樣，希望疫情快過去。他說，世界一定不會恢復過去的樣子，但至少不用處於不確定的感覺，希望觀光旅遊業盡快復甦，他一心投入的茶飲業，也能進一步重新定位價值，對社會產生貢獻。
          div(class="two-column-images")
            img(src="./images/contentSingle/banner2.png" alt="")
            img(src="./images/contentSingle/banner3.png" alt="")
          h2 大年初一站櫃站到懷疑人生
          p 他孤單一人站櫃過年時在想什麼？「突然覺得自己好愛台灣茶，不然幹嘛站在這裡？」他大笑起來。
            br
            | 創業十二年來，前期遇到不少挫折困難，外部市場的挑戰是消費者喜歡咖啡和珍奶，純茶飲風潮不多，內部市場則有進口茶混充台灣茶的問題，內憂外患之下，大過年的，林昱丞站著站著，開始懷疑人生。「我投資在這個品牌上的錢喝十輩子的茶都喝不完，幹嘛要自創品牌？」
            br
            | 但經過和客人的交流，他更加確認，品牌的功能是無價的相聚時光。「和父母相處的時間是看得到盡頭的，透過泡茶，喝茶，可以讓相聚更有橋樑。」林昱丞說，或許很多已經成家離巢的人都有同感，要約父母出門不容易，地點太遠太累，餐廳太貴不好吃，但約父母來家裡泡茶，父母大多會欣然前往。無論是親人好友相聚，喝喝茶互吐苦水，或是當做一種祝福送禮，茶，都是療癒身心和祝福他人的最好方式。
            br
            | 現在不需要再到百貨公司站櫃了，林昱丞對新年的期許和許多人一樣，希望疫情快過去。他說，世界一定不會恢復過去的樣子，但至少不用處於不確定的感覺，希望觀光旅遊業盡快復甦，他一心投入的茶飲業，也能進一步重新定位價值，對社會產生貢獻。

    include ../components/common/cookieBanner.pug
    include ../components/common/gotop.pug
    include ../components/common/footer.pug
