include ../components/common/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("index")
  head
    link(rel="stylesheet" href="./css/swiper-bundle.min.css")
    script(src="./js/swiper-bundle.min.js")
  body
    include ../components/common/header.pug
    // 主輪播圖
    section(class="w-full min-h-[320px] lg:max-h-[853px] max-h-[496px] lg:min-h-[480px] mx-auto overflow-hidden")
      div(class="swiper swiper-main min-h-[320px] lg:max-h-[853px] max-h-[496px] lg:min-h-[480px] h-dvh")
        div(class="swiper-wrapper lg:max-h-none max-h-[440px]")
          each val in [1, 2, 3, 4, 5, 6]
            a(class="relative swiper-slide" href="/")
              picture
                img(class="object-cover object-center w-full h-full" src=`./images/index/banner${val}.png` alt="")
        div(class="swiper-pagination swiper-main-pagination")
        div(class="swiper-button-prev swiper-button-main-prev bg-white bg-opacity-65 lg:!flex !hidden items-center justify-center !w-12 !h-[60px] !left-0")
          img(src="./images/arrows/light_large_left.svg" alt="")
        div(class="swiper-button-next swiper-button-main-next bg-white bg-opacity-65 lg:!flex !hidden items-center justify-center !w-12 !h-[60px] !right-0")
          img(src="./images/arrows/light_large_right.svg" alt="")

    // 企劃提案
    section(class="bg-slate-50")
      div(class="relative py-6 mx-auto max-w-screen-2xl lg:py-16")
        picture(class="lg:max-w-[670px] lg:max-h-[784px] max-h-[421px] w-full h-full block lg:relative absolute z-1")
          img(class="object-cover object-center w-full h-full rounded-tr-[50%]" src="./images/index/planning.png", alt="")
        div(class="flex lg:flex-row flex-col z-[2] lg:absolute relative lg:top-[162px] lg:right-[69px] mx-auto lg:mt-0 mt-[151px] lg:max-w-[904px] lg:max-h-[711px] lg:w-full w-[90%] h-full bg-white bg-opacity-95 lg:pt-[43px] pt-10 lg:pb-[46px] pb-[13px] lg:pl-[61px] lg:pr-10 px-8")
          div(class="flex-1 lg:mr-[111px]")
            p(class="text-xs text-black lg:text-sm") 歡慶佳節企劃提案
            p(class="mt-6 text-xl font-bold leading-snug text-black lg:text-3xl") 不想一個人過聖誕節
              br
              | 讓他（她）的心溫暖起來
            div(class="mt-6 space-y-6 lg:space-y-10")
              p(class="text-xs text-black lg:text-sm") 從生日、紀念日、情人節到聖誕節， 送禮始終是伴侶間的默契大考驗，誠摯推薦 5 款 實⽤與樂趣兼具的贈禮，讓送禮成為關係中的潤滑劑！
              p(class="text-xs text-black lg:text-sm") 從生日、紀念日、情人節到聖誕節，送禮始終是伴侶間的默契大考驗，誠摯推薦 5 款實⽤與樂趣兼具的贈禮，讓送禮成為關係中的潤滑劑！從生日、紀念日、情人節到聖誕節，送禮始終是伴侶間的默契大考驗，誠摯推薦 
              p(class="text-xs text-black lg:text-sm") 從生日、紀念日、情人節到聖誕節，送禮始終是伴侶間的默契大考驗，誠摯推薦 5 款實⽤與樂趣兼具的贈禮，讓送禮成為關係中的潤滑劑！
          div(class="flex-1 max-w-[352px] w-full h-full lg:mt-0 mt-10")
            div(class="flex lg:flex-col flex-row lg:max-h-[548px] w-full h-full lg:p-4 lg:border lg:rounded lg:border-slate-200")
              div(class="relative")
                img(class="lg:max-w-[320px] max-w-[114px] lg:max-h-[400px] max-h-[136px] w-full h-full object-cover" src="./images/index/planning2.png", alt="")
                button(class="absolute lg:top-[15px] top-2 lg:right-3 right-2")
                  img(class="w-3 h-3 lg:w-5 lg:h-5" src="./images/main/like.svg", alt="")
              div(class="flex flex-col flex-1 ml-4 lg:ml-0")
                p(class="text-xs text-slate-400 lg:mt-6") 依聖詩
                p(class="text-base text-black lg:mt-3 mt-[6px]") 聖誕節慶麵包與橄欖油套組
                div(class="flex flex-col mt-3 space-y-2 lg:space-x-6 lg:space-y-0 lg:flex-row lg:mt-10")
                  p(class="space-x-2 font-semibold text-red-500")
                    span(class="lg:text-xs text-10") 優惠價
                    span(class="text-sm lg:text-base") NT$ 1,299
                  p(class="font-semibold text-gray-700 line-through")
                    span(class="text-sm lg:text-base") NT$ 1,599
            div(class="flex justify-end lg:mt-12 m-[2px]")
              a(class="text-sm text-yellow-900 lg:text-xl" href="#") 更多 >>

    // 全站分類熱銷推薦
    section(class="bg-white lg:pt-16 pt-10 lg:pb-[35px] pb-10")
      div(class="mx-auto max-w-screen-2xl")
        p(class="text-base font-semibold text-center text-black lg:text-xl") 全站分類熱銷推薦
        div(class="lg:!pl-10 !pl-6 !pb-[38px] !mt-[38px] swiper swiper-recommend")
          div(class="swiper-wrapper")
            each val in [1, 2, 3, 4, 5, 6]
              a(class="lg:max-w-[320px] max-w-[270px] swiper-slide" href="/")
                img(class="lg:max-w-[320px] max-w-[270px] lg:max-h-[380px] max-h-[320px] w-full h-full object-cover" src=`./images/index/recommend${val}.png`, alt="")
                p(class="mt-8 text-base text-black") 全站熱銷商品第二件五折  >
          div(class="2xl:max-w-[1300px] xl:max-w-[1000px] lg:max-w-[900px] md:max-w-[700px] max-w-[320px] !left-[51%] !bottom-0 !-translate-x-1/2 swiper-scrollbar swiper-recommend-scrollbar")
          div(class="swiper-button-prev swiper-button-recommend-prev bg-white lg:!flex !hidden items-center justify-center !w-12 !h-[60px] !left-0 rotate-180")
            img(src="./images/arrows/arrow_forward_24px.svg" alt="")
          div(class="swiper-button-next swiper-button-recommend-next bg-white lg:!flex !hidden items-center justify-center !w-12 !h-[60px] !right-0")
            img(src="./images/arrows/arrow_forward_24px.svg" alt="")

    // 次要輪播
    section(class="w-full min-h-[320px] lg:max-h-[853px] max-h-[496px] lg:min-h-[480px] mx-auto overflow-hidden")
      div(class="swiper swiper-secondary min-h-[320px] lg:max-h-[853px] max-h-[496px] lg:min-h-[480px] h-dvh")
        div(class="swiper-wrapper lg:max-h-none max-h-[440px]")
          each val in [1, 2, 3, 4, 5, 6]
            a(class="relative swiper-slide" href="/")
              picture
                img(class="object-cover object-center w-full h-full" src=`./images/index/secondary${val}.png` alt="")
        div(class="swiper-pagination swiper-secondary-pagination")



    include ../components/common/gotop.pug
    include ../components/common/footer.pug
