include ../components/common/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("index")
  body(class="h-" style="height: 1000px;")
    h1(class="text-3xl") Hello, World!
    img(class="w-24 h-24" src="./images/index/demo.jpg", alt="")

    include ../components/common/gotop.pug
