include ../components/common/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("index")
  body
    include ../components/common/header.pug
    h1(class="text-3xl") Hello, World!

    include ../components/common/gotop.pug
    include ../components/common/footer.pug
