include ../components/common/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("login-member-information")
  body
    header(class="sticky top-0 z-50")
      nav(class="z-20 relative bg-white lg:h-[105px] h-[88px] flex items-center justify-center px-6 lg:px-12")
        a(href="#")
          img(class="lg:w-[96px] w-[58px]" src="./images/logo.png" alt="橘焱胡同")

    main(class="max-w-screen-2xl mx-auto px-5 lg:px-[316px] pt-5 lg:pb-0 pb-20 lg:min-h-[calc(100dvh-542px)]")
      a(class="text-sm font-medium" href="#") < 回首頁
      div(class="lg:mt-[51px] mt-6 mx-auto max-w-[370px]")
        div(class="relative")
          div(class="xl:absolute xl:right-[-354px] xl:top-[14px] flex items-center xl:justify-normal justify-center space-x-3")
            // 一般狀態: bg-gray-300, active 狀態: bg-gray-900
            div(class="h-1 bg-gray-300 w-14")
            div(class="h-1 bg-gray-300 w-14")
            div(class="h-1 bg-gray-900 w-14")
          p(class="mt-10 text-xl font-medium text-center text-black xl:mt-0") 輸入會員資料
        form(class="mt-10")
          div
            label(class="block text-sm text-slate-800" for="phone") *生日
            // error 狀態 class: !border-red-650
            input(id="phone" class="w-full h-[52px] mt-3 px-6 py-3 text-slate-800 text-xl border border-slate-200 rounded !border-red-650" type="text")
            span(class="block mt-[11px] text-xs text-red-650") 生日 為必填
          div(class="mt-10")
            label(class="block text-sm text-slate-800" for="email") *Email
            input(id="email" class="w-full h-[52px] mt-3 px-6 py-3 text-slate-800 text-xl border border-slate-200 rounded" type="email")
            // span(class="block mt-[11px] text-xs text-red-650") Email 為必填
          div(class="mt-10")
            label(class="block text-sm text-slate-800" for="gender") *性別
            input(id="gender" class="w-full h-[52px] mt-3 px-6 py-3 text-slate-800 text-xl border border-slate-200 rounded" type="text")
            // span(class="block mt-[11px] text-xs text-red-650") 性別 為必填
          div(class="mt-10")
            label(class="block text-sm text-slate-800" for="address") *居住地
            div(class="flex items-center space-x-4 lg:space-x-6")
              div(class="flex-1")
                div(class="select-wrapper")
                  select(class="w-full h-[52px] px-6 py-3 text-slate-800 text-base border border-slate-200 rounded appearance-none")
                    option(value="台灣") 台灣
                    option(value="日本") 日本
                    option(value="香港") 香港
                // span(class="block mt-[11px] text-xs text-red-650") 居住地 為必填
              div(class="flex-1")
                div(class="select-wrapper")
                  select(class="w-full h-[52px] px-6 py-3 text-slate-800 text-base border border-slate-200 rounded appearance-none")
                    option(value="台北市") 台北市
                    option(value="桃園市") 桃園市
                    option(value="新竹市") 新竹市
                // span(class="block mt-[11px] text-xs text-red-650") 居住地 為必填
          div(class="mt-12")
            label(for="agree" class="flex items-center")
              input(id="agree" class="w-4 h-4 mr-2" type="checkbox") 
              p(class="text-sm") 我已詳細閱讀並同意「
                a(class="text-xs text-blue-600" href="#") 會員服務條款
                | 」
          button(class="w-full h-[52px] bg-origin-600 text-white inline-flex items-center justify-center mt-12 rounded" type="submit") 確認註冊



    include ../components/common/footer.pug
