include ../components/common/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("products")
  body
    include ../components/common/header.pug

    section(class="") products
    
    include ../components/common/cookieBanner.pug
    include ../components/common/gotop.pug
    include ../components/common/footer.pug
