include ../components/common/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("theme")
  body
    include ../components/common/header.pug

    section(class="") theme
    
    include ../components/common/gotop.pug
    include ../components/common/footer.pug
